* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}
body {
  -webkit-font-smoothing: antialiased;
}
button {
  cursor: pointer;
}
body,
input,
button,
textarea {
  font-family: "Open Sans";
}
:root {
  font-size: 60%;
}
@media (min-width: 700px) {
  :root {
    font-size: 62.5%;
  }
}
